<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org//dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost/test_db</property> <!-- BD URL -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">root</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">create</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <mapping class="com.innodev.hibernate.entity.Student"/>
        <mapping class="com.innodev.hibernate.entity.Address"/>
        <mapping class="com.innodev.hibermapping.entity.Question"/>
        <mapping class="com.innodev.hibermapping.entity.Answer"/>
    </session-factory>
</hibernate-configuration>